.visibility_hide_element { display: none !important;}
 
.tvbanner {
	float: left;
	height: 90px;
	width: 818px;
	border-color: #313131;
	border-style: none solid solid solid;
	border-width: 0 1px 1px 1px;
	background: #FFFFFF;
	text-align: right;
	margin: 0;
	padding: 0;
	overflow:hidden;
	white-space:normal;
	clear:both;
	}

.tvlogo {
	float: left;
	height: 59px;
	width: 71px;
	border-color: #313131;
	border-style: none dotted solid dotted;
	border-width: 0 1px 1px 1px;
	background-color: #FFFFFF;
	text-align: center;
	vertical-align: middle; 
	margin: 0; 
	padding: 0;
	overflow:hidden;
	white-space:normal;
	clear:left;
	}

.tvlogo img {
	height:50px;
	width:60px;
	padding-top:5px;
	}

.tvprog a * {
	vertical-align:top;
	}

.progr_thumb {
	margin: -5px 3px 0 2px;
	padding: 0 2px 0 0;
	float: left;
	width: 53px;
	height: 53px;
	}

.tvprog, .tvpeliculas, .tvseries, .tvdeportes, .tvnoticias, .tvinfantil, .tventretenimiento, .tvdocumental, .tvconcursos, .tvcorazon, .tvreality {
	float: left;
	height: 46px;
	border-color: #313131;
	border-style: none dotted solid none;
	border-width: 0 1px 1px 0;
	background: #FFFFFF;
	font-size: 12px;
	font-family: verdana,arial,sans-serif;
	font-weight: normal;
	color: #111111;
	text-align: left;
	vertical-align: middle; 
	margin: 0;
	padding:8px 1px 5px 1px;
	overflow:hidden;
	text-overflow:ellipsis; 
	white-space:normal;
	}

.tvprog a:link, .tvpeliculas a:link, .tvseries a:link, .tvdeportes a:link, .tvnoticias a:link, .tvinfantil a:link, .tventretenimiento a:link, .tvdocumental a:link, .tvconcursos a:link, .tvcorazon a:link, .tvreality a:link { color: #111111; text-decoration: none; }
.tvprog a:visited, .tvpeliculas a:visited, .tvseries a:visited, .tvdeportes a:visited, .tvnoticias a:visited, .tvinfantil a:visited, .tventretenimiento a:visited, .tvdocumental a:visited, .tvconcursos a:visited, .tvcorazon a:visited, .tvreality a:visited { color: #111111; text-decoration: none; }
.tvprog a:active, .tvpeliculas a:active, .tvseries a:active, .tvdeportes a:active, .tvnoticias a:active, .tvinfantil a:active, .tventretenimiento a:active, .tvdocumental a:active, .tvconcursos a:active, .tvcorazon a:active, .tvreality a:active {  color: #111111; text-decoration: none; }
.tvprog a:hover, .tvpeliculas a:hover, .tvseries a:hover, .tvdeportes a:hover, .tvnoticias a:hover, .tvinfantil a:hover, .tventretenimiento a:hover, .tvdocumental a:hover, .tvconcursos a:hover, .tvcorazon a:hover, .tvreality a:hover {  color: #111111; text-decoration: none; }

.peliculas_highlight {
	background: #ffffff url('../images/bg-cat.png') repeat-x top right;
	background-position: 0 0;
	} /* fbf9fe */

.series_highlight {
	background: #ffffff url('../images/bg-cat.png') repeat-x top right;
	background-position: 0 -59px;
	} /* f9fbff  */

.deportes_highlight {
	background: #ffffff url('../images/bg-cat.png') repeat-x top right;
	background-position: 0 -118px;
	} /* fbfeeb  */

.infantil_highlight {
	background: #ffffff url('../images/bg-cat.png') repeat-x top right;
	background-position: 0 -177px;
	} /* dffff5  */

.entretenimiento_highlight {
	background: #ffffff url('../images/bg-cat.png') repeat-x top right;
	background-position: 0 -236px;
	} /* fffdeb  */

.documental_highlight {
	background: #ffffff url('../images/bg-cat.png') repeat-x top right;
	background-position: 0 -295px;
	} /* fbfaeb  */

.noticias_highlight {
	background: #ffffff url('../images/bg-cat.png') repeat-x top right;
	background-position: 0 -354px;
	} /* fff8f7 */

.concursos_highlight {
	background: #ffffff url('../images/bg-cat.png') repeat-x top right;
	background-position: 0 -413px;
	} /* fefed8  */

.corazon_highlight {
	background: #ffffff url('../images/bg-cat.png') repeat-x top right;
	background-position: 0 -472px;
	} /* fff9ff  */

.reality_highlight {
	background: #ffffff url('../images/bg-cat.png') repeat-x top right;
	background-position: 0 -531px;
	} /* f3f3f3  */

.tvplus {
	font-family: arial,sans-serif;
	font-weight: bold;
	font-size: 18px;
	color:inherit;
	}

.tvarrow {
	float: left;
	font-family: arial,sans-serif;
	font-weight: bold;
	font-size: 13px;
	color:inherit;
	}

.tvhour {
	float: left;
	padding: 1px 2px 0 0;
	font-family: arial,sans-serif;
	font-weight: bold;
	font-size: 12px;
	color:inherit;	
	}

.contain{
	float: left;
	height: 46px;
	border-color: #FFFFFF;
	border-style: none solid solid none;
	border-width: 0 1px 1px 0;
	background: #FFFFFF;
	vertical-align: middle; 
	margin: 0; 
	padding:8px 1px 5px 3px;
	overflow:hidden;
	width: 600px;
	}

#ajax-here{
 overflow-y:scroll;
 overflow-x:hidden;
	}

#ajax-here a {
	cursor:pointer;
	color:#111111;
	text-decoration:none;
	}

#ajax-here a:hover {
	color:#111111;
	text-decoration:none;
	}

.html-advertisement {
	margin:0;
	padding:0;
	font-size:10pt;
	}

#channel-61{
	width:100%;
	}

img {
	border-style: none;
	}

.tvlogo51 {background: url('../images/television-es-56x40.png?004') no-repeat; background-position: 0 -0px; height:40px; margin: 10px 0 0 7px; width:56px;} /*la1 */
.tvlogo52 {background: url('../images/television-es-56x40.png?004') no-repeat; background-position: 0 -40px; height:40px; margin: 10px 0 0 7px; width:56px;} /*la2 */
.tvlogo53 {background: url('../images/television-es-56x40.png?004') no-repeat; background-position: 0 -80px; height:40px; margin: 10px 0 0 7px; width:56px;} /*antena3 */
.tvlogo54 {background: url('../images/television-es-56x40.png?004') no-repeat; background-position: 0 -120px; height:40px; margin: 10px 0 0 7px; width:56px;} /*cuatro */
.tvlogo55 {background: url('../images/television-es-56x40.png?004') no-repeat; background-position: 0 -160px; height:40px; margin: 10px 0 0 7px; width:56px;} /*telecinco */
.tvlogo56 {background: url('../images/television-es-56x40.png?004') no-repeat; background-position: 0 -200px; height:40px; margin: 10px 0 0 7px; width:56px;} /*lasexta */
.tvlogo57 {background: url('../images/television-es-56x40.png?004') no-repeat; background-position: 0 -240px; height:40px; margin: 10px 0 0 7px; width:56px;} /*paramountnetwork */
.tvlogo58 {background: url('../images/television-es-56x40.png?004') no-repeat; background-position: 0 -280px; height:40px; margin: 10px 0 0 7px; width:56px;} /*divinity */
.tvlogo59 {background: url('../images/television-es-56x40.png?004') no-repeat; background-position: 0 -320px; height:40px; margin: 10px 0 0 7px; width:56px;} /*dkiss */
.tvlogo60 {background: url('../images/television-es-56x40.png?004') no-repeat; background-position: 0 -360px; height:40px; margin: 10px 0 0 7px; width:56px;} /*ten */
.tvlogo61 {background: url('../images/television-es-56x40.png?004') no-repeat; background-position: 0 -400px; height:40px; margin: 10px 0 0 7px; width:56px;} /*bemad */
.tvlogo62 {background: url('../images/television-es-56x40.png?004') no-repeat; background-position: 0 -440px; height:40px; margin: 10px 0 0 7px; width:56px;} /*mega */
.tvlogo63 {background: url('../images/television-es-56x40.png?004') no-repeat; background-position: 0 -480px; height:40px; margin: 10px 0 0 7px; width:56px;} /*dmax */
.tvlogo64 {background: url('../images/television-es-56x40.png?004') no-repeat; background-position: 0 -520px; height:40px; margin: 10px 0 0 7px; width:56px;} /*energy */
.tvlogo65 {background: url('../images/television-es-56x40.png?004') no-repeat; background-position: 0 -560px; height:40px; margin: 10px 0 0 7px; width:56px;} /*fdf */
.tvlogo66 {background: url('../images/television-es-56x40.png?004') no-repeat; background-position: 0 -600px; height:40px; margin: 10px 0 0 7px; width:56px;} /*atreseries */
.tvlogo67 {background: url('../images/television-es-56x40.png?004') no-repeat; background-position: 0 -640px; height:40px; margin: 10px 0 0 7px; width:56px;} /*neox */
.tvlogo68 {background: url('../images/television-es-56x40.png?004') no-repeat; background-position: 0 -680px; height:40px; margin: 10px 0 0 7px; width:56px;} /*nova */
.tvlogo69 {background: url('../images/television-es-56x40.png?004') no-repeat; background-position: 0 -720px; height:40px; margin: 10px 0 0 7px; width:56px;} /*trece */
.tvlogo70 {background: url('../images/television-es-56x40.png?004') no-repeat; background-position: 0 -760px; height:40px; margin: 10px 0 0 7px; width:56px;} /*boing */
.tvlogo71 {background: url('../images/television-es-56x40.png?004') no-repeat; background-position: 0 -800px; height:40px; margin: 10px 0 0 7px; width:56px;} /*clan */
.tvlogo72 {background: url('../images/television-es-56x40.png?004') no-repeat; background-position: 0 -840px; height:40px; margin: 10px 0 0 7px; width:56px;} /*disneychannel */
.tvlogo73 {background: url('../images/television-es-56x40.png?004') no-repeat; background-position: 0 -880px; height:40px; margin: 10px 0 0 7px; width:56px;} /*teledeporte */
.tvlogo74 {background: url('../images/television-es-56x40.png?004') no-repeat; background-position: 0 -920px; height:40px; margin: 10px 0 0 7px; width:56px;} /*gol */
.tvlogo75 {background: url('../images/television-es-56x40.png?004') no-repeat; background-position: 0 -960px; height:40px; margin: 10px 0 0 7px; width:56px;} /*realmadridtv */
.tvlogo76 {background: url('../images/television-es-56x40.png?004') no-repeat; background-position: 0 -1000px; height:40px; margin: 10px 0 0 7px; width:56px;} /*bomcine */
.tvlogo77 {background: url('../images/television-es-56x40.png?004') no-repeat; background-position: 0 -1040px; height:40px; margin: 10px 0 0 7px; width:56px;} /*eltorotv */
.tvlogo78 {background: url('../images/television-es-56x40.png?004') no-repeat; background-position: 0 -1080px; height:40px; margin: 10px 0 0 7px; width:56px;} /*telemadrid */
.tvlogo79 {background: url('../images/television-es-56x40.png?004') no-repeat; background-position: 0 -1120px; height:40px; margin: 10px 0 0 7px; width:56px;} /*laotra */
.tvlogo80 {background: url('../images/television-es-56x40.png?004') no-repeat; background-position: 0 -1160px; height:40px; margin: 10px 0 0 7px; width:56px;} /*8madridtv */
.tvlogo81 {background: url('../images/television-es-56x40.png?004') no-repeat; background-position: 0 -1200px; height:40px; margin: 10px 0 0 7px; width:56px;} /*tv3 */
.tvlogo82 {background: url('../images/television-es-56x40.png?004') no-repeat; background-position: 0 -1240px; height:40px; margin: 10px 0 0 7px; width:56px;} /*8tv */
.tvlogo83 {background: url('../images/television-es-56x40.png?004') no-repeat; background-position: 0 -1280px; height:40px; margin: 10px 0 0 7px; width:56px;} /*super333 */
.tvlogo84 {background: url('../images/television-es-56x40.png?004') no-repeat; background-position: 0 -1320px; height:40px; margin: 10px 0 0 7px; width:56px;} /*esport3 */
.tvlogo85 {background: url('../images/television-es-56x40.png?004') no-repeat; background-position: 0 -1360px; height:40px; margin: 10px 0 0 7px; width:56px;} /*barcatv */
.tvlogo86 {background: url('../images/television-es-56x40.png?004') no-repeat; background-position: 0 -1400px; height:40px; margin: 10px 0 0 7px; width:56px;} /*beteve */
.tvlogo87 {background: url('../images/television-es-56x40.png?004') no-repeat; background-position: 0 -1440px; height:40px; margin: 10px 0 0 7px; width:56px;} /*apunt */
.tvlogo88 {background: url('../images/television-es-56x40.png?004') no-repeat; background-position: 0 -1480px; height:40px; margin: 10px 0 0 7px; width:56px;} /*la8mediterraneo */
.tvlogo89 {background: url('../images/television-es-56x40.png?004') no-repeat; background-position: 0 -1520px; height:40px; margin: 10px 0 0 7px; width:56px;} /*canalsur */
.tvlogo90 {background: url('../images/television-es-56x40.png?004') no-repeat; background-position: 0 -1560px; height:40px; margin: 10px 0 0 7px; width:56px;} /*andaluciatv */
.tvlogo91 {background: url('../images/television-es-56x40.png?004') no-repeat; background-position: 0 -1600px; height:40px; margin: 10px 0 0 7px; width:56px;} /*tvg */
.tvlogo92 {background: url('../images/television-es-56x40.png?004') no-repeat; background-position: 0 -1640px; height:40px; margin: 10px 0 0 7px; width:56px;} /*tvg2 */
.tvlogo93 {background: url('../images/television-es-56x40.png?004') no-repeat; background-position: 0 -1680px; height:40px; margin: 10px 0 0 7px; width:56px;} /*etb1 */
.tvlogo94 {background: url('../images/television-es-56x40.png?004') no-repeat; background-position: 0 -1720px; height:40px; margin: 10px 0 0 7px; width:56px;} /*etb2 */
.tvlogo95 {background: url('../images/television-es-56x40.png?004') no-repeat; background-position: 0 -1760px; height:40px; margin: 10px 0 0 7px; width:56px;} /*tvcanaria */
.tvlogo96 {background: url('../images/television-es-56x40.png?004') no-repeat; background-position: 0 -1800px; height:40px; margin: 10px 0 0 7px; width:56px;} /*cmmedia */
.tvlogo97 {background: url('../images/television-es-56x40.png?004') no-repeat; background-position: 0 -1840px; height:40px; margin: 10px 0 0 7px; width:56px;} /*ib3 */
.tvlogo98 {background: url('../images/television-es-56x40.png?004') no-repeat; background-position: 0 -1880px; height:40px; margin: 10px 0 0 7px; width:56px;} /*aragontv */
.tvlogo99 {background: url('../images/television-es-56x40.png?004') no-repeat; background-position: 0 -1920px; height:40px; margin: 10px 0 0 7px; width:56px;} /*7rm */
.tvlogo100 {background: url('../images/television-es-56x40.png?004') no-repeat; background-position: 0 -1960px; height:40px; margin: 10px 0 0 7px; width:56px;} /*canalextremadura */
.tvlogo101 {background: url('../images/television-es-56x40.png?004') no-repeat; background-position: 0 -2000px; height:40px; margin: 10px 0 0 7px; width:56px;} /*tpa */
.tvlogo102 {background: url('../images/television-es-56x40.png?004') no-repeat; background-position: 0 -2040px; height:40px; margin: 10px 0 0 7px; width:56px;} /*cyl7 */
.tvlogo103 {background: url('../images/television-es-56x40.png?004') no-repeat; background-position: 0 -2080px; height:40px; margin: 10px 0 0 7px; width:56px;} /*la8 */
.tvlogo104 {background: url('../images/television-es-56x40.png?004') no-repeat; background-position: 0 -2120px; height:40px; margin: 10px 0 0 7px; width:56px;} /*decasa */
.tvlogo105 {background: url('../images/television-es-56x40.png?004') no-repeat; background-position: 0 -2160px; height:40px; margin: 10px 0 0 7px; width:56px;} /*canalcocina */
.tvlogo106 {background: url('../images/television-es-56x40.png?004') no-repeat; background-position: 0 -2200px; height:40px; margin: 10px 0 0 7px; width:56px;} /*viajar */
.tvlogo107 {background: url('../images/television-es-56x40.png?004') no-repeat; background-position: 0 -2240px; height:40px; margin: 10px 0 0 7px; width:56px;} /*nationalgeographic */
.tvlogo108 {background: url('../images/television-es-56x40.png?004') no-repeat; background-position: 0 -2280px; height:40px; margin: 10px 0 0 7px; width:56px;} /*natgeowild */
.tvlogo109 {background: url('../images/television-es-56x40.png?004') no-repeat; background-position: 0 -2320px; height:40px; margin: 10px 0 0 7px; width:56px;} /*odisea */
.tvlogo110 {background: url('../images/television-es-56x40.png?004') no-repeat; background-position: 0 -2360px; height:40px; margin: 10px 0 0 7px; width:56px;} /*discoverychannel */
.tvlogo111 {background: url('../images/television-es-56x40.png?004') no-repeat; background-position: 0 -2400px; height:40px; margin: 10px 0 0 7px; width:56px;} /*historia */
.tvlogo112 {background: url('../images/television-es-56x40.png?004') no-repeat; background-position: 0 -2440px; height:40px; margin: 10px 0 0 7px; width:56px;} /*crimeninvestigacion */
.tvlogo113 {background: url('../images/television-es-56x40.png?004') no-repeat; background-position: 0 -2480px; height:40px; margin: 10px 0 0 7px; width:56px;} /*blaze */
.tvlogo114 {background: url('../images/television-es-56x40.png?004') no-repeat; background-position: 0 -2520px; height:40px; margin: 10px 0 0 7px; width:56px;} /*fox */
.tvlogo115 {background: url('../images/television-es-56x40.png?004') no-repeat; background-position: 0 -2560px; height:40px; margin: 10px 0 0 7px; width:56px;} /*foxlife */
.tvlogo116 {background: url('../images/television-es-56x40.png?004') no-repeat; background-position: 0 -2600px; height:40px; margin: 10px 0 0 7px; width:56px;} /*axn */
.tvlogo117 {background: url('../images/television-es-56x40.png?004') no-repeat; background-position: 0 -2640px; height:40px; margin: 10px 0 0 7px; width:56px;} /*axnwhite */
.tvlogo118 {background: url('../images/television-es-56x40.png?004') no-repeat; background-position: 0 -2680px; height:40px; margin: 10px 0 0 7px; width:56px;} /*calle13 */
.tvlogo119 {background: url('../images/television-es-56x40.png?004') no-repeat; background-position: 0 -2720px; height:40px; margin: 10px 0 0 7px; width:56px;} /*syfy */
.tvlogo120 {background: url('../images/television-es-56x40.png?004') no-repeat; background-position: 0 -2760px; height:40px; margin: 10px 0 0 7px; width:56px;} /*dark */
.tvlogo121 {background: url('../images/television-es-56x40.png?004') no-repeat; background-position: 0 -2800px; height:40px; margin: 10px 0 0 7px; width:56px;} /*tnt */
.tvlogo122 {background: url('../images/television-es-56x40.png?004') no-repeat; background-position: 0 -2840px; height:40px; margin: 10px 0 0 7px; width:56px;} /*cosmo */
.tvlogo123 {background: url('../images/television-es-56x40.png?004') no-repeat; background-position: 0 -2880px; height:40px; margin: 10px 0 0 7px; width:56px;} /*mtv */
.tvlogo124 {background: url('../images/television-es-56x40.png?004') no-repeat; background-position: 0 -2920px; height:40px; margin: 10px 0 0 7px; width:56px;} /*comedycentral */
.tvlogo125 {background: url('../images/television-es-56x40.png?004') no-repeat; background-position: 0 -2960px; height:40px; margin: 10px 0 0 7px; width:56px;} /*sundancetv */
.tvlogo126 {background: url('../images/television-es-56x40.png?004') no-repeat; background-position: 0 -3000px; height:40px; margin: 10px 0 0 7px; width:56px;} /*xtrm */
.tvlogo127 {background: url('../images/television-es-56x40.png?004') no-repeat; background-position: 0 -3040px; height:40px; margin: 10px 0 0 7px; width:56px;} /*canalhollywood */
.tvlogo128 {background: url('../images/television-es-56x40.png?004') no-repeat; background-position: 0 -3080px; height:40px; margin: 10px 0 0 7px; width:56px;} /*tcm */
.tvlogo129 {background: url('../images/television-es-56x40.png?004') no-repeat; background-position: 0 -3120px; height:40px; margin: 10px 0 0 7px; width:56px;} /*somos */
.tvlogo130 {background: url('../images/television-es-56x40.png?004') no-repeat; background-position: 0 -3160px; height:40px; margin: 10px 0 0 7px; width:56px;} /*amc */
.tvlogo131 {background: url('../images/television-es-56x40.png?004') no-repeat; background-position: 0 -3200px; height:40px; margin: 10px 0 0 7px; width:56px;} /*cero */
.tvlogo132 {background: url('../images/television-es-56x40.png?004') no-repeat; background-position: 0 -3240px; height:40px; margin: 10px 0 0 7px; width:56px;} /*movistarestrenos */
.tvlogo133 {background: url('../images/television-es-56x40.png?004') no-repeat; background-position: 0 -3280px; height:40px; margin: 10px 0 0 7px; width:56px;} /*movistarcinedocroll */
.tvlogo134 {background: url('../images/television-es-56x40.png?004') no-repeat; background-position: 0 -3320px; height:40px; margin: 10px 0 0 7px; width:56px;} /*movistaraccion */
.tvlogo135 {background: url('../images/television-es-56x40.png?004') no-repeat; background-position: 0 -3360px; height:40px; margin: 10px 0 0 7px; width:56px;} /*movistarcomedia */
.tvlogo136 {background: url('../images/television-es-56x40.png?004') no-repeat; background-position: 0 -3400px; height:40px; margin: 10px 0 0 7px; width:56px;} /*movistardrama */
.tvlogo137 {background: url('../images/television-es-56x40.png?004') no-repeat; background-position: 0 -3440px; height:40px; margin: 10px 0 0 7px; width:56px;} /*movistarcineespanol */
.tvlogo138 {background: url('../images/television-es-56x40.png?004') no-repeat; background-position: 0 -3480px; height:40px; margin: 10px 0 0 7px; width:56px;} /*movistarseries */
.tvlogo139 {background: url('../images/television-es-56x40.png?004') no-repeat; background-position: 0 -3520px; height:40px; margin: 10px 0 0 7px; width:56px;} /*movistarseriesmania */
.tvlogo140 {background: url('../images/television-es-56x40.png?004') no-repeat; background-position: 0 -3560px; height:40px; margin: 10px 0 0 7px; width:56px;} /*movistardeportes */
.tvlogo141 {background: url('../images/television-es-56x40.png?004') no-repeat; background-position: 0 -3600px; height:40px; margin: 10px 0 0 7px; width:56px;} /*movistargolf */
.tvlogo142 {background: url('../images/television-es-56x40.png?004') no-repeat; background-position: 0 -3640px; height:40px; margin: 10px 0 0 7px; width:56px;} /*movistarformula1 */
.tvlogo143 {background: url('../images/television-es-56x40.png?004') no-repeat; background-position: 0 -3680px; height:40px; margin: 10px 0 0 7px; width:56px;} /*movistarlaliga */
.tvlogo144 {background: url('../images/television-es-56x40.png?004') no-repeat; background-position: 0 -3720px; height:40px; margin: 10px 0 0 7px; width:56px;} /*movistarlaliga1 */
.tvlogo145 {background: url('../images/television-es-56x40.png?004') no-repeat; background-position: 0 -3760px; height:40px; margin: 10px 0 0 7px; width:56px;} /*movistarlaliga2 */
.tvlogo146 {background: url('../images/television-es-56x40.png?004') no-repeat; background-position: 0 -3800px; height:40px; margin: 10px 0 0 7px; width:56px;} /*movistarlaliga3 */
.tvlogo147 {background: url('../images/television-es-56x40.png?004') no-repeat; background-position: 0 -3840px; height:40px; margin: 10px 0 0 7px; width:56px;} /*movistarlaliga4 */
.tvlogo148 {background: url('../images/television-es-56x40.png?004') no-repeat; background-position: 0 -3880px; height:40px; margin: 10px 0 0 7px; width:56px;} /*laligatvbar */
.tvlogo149 {background: url('../images/television-es-56x40.png?004') no-repeat; background-position: 0 -3920px; height:40px; margin: 10px 0 0 7px; width:56px;} /*movistarligadecampeones */
.tvlogo150 {background: url('../images/television-es-56x40.png?004') no-repeat; background-position: 0 -3960px; height:40px; margin: 10px 0 0 7px; width:56px;} /*movistarligadecampeones1 */
.tvlogo151 {background: url('../images/television-es-56x40.png?004') no-repeat; background-position: 0 -4000px; height:40px; margin: 10px 0 0 7px; width:56px;} /*movistarligadecampeones2 */
.tvlogo152 {background: url('../images/television-es-56x40.png?004') no-repeat; background-position: 0 -4040px; height:40px; margin: 10px 0 0 7px; width:56px;} /*movistarligadecampeones3 */
.tvlogo153 {background: url('../images/television-es-56x40.png?004') no-repeat; background-position: 0 -4080px; height:40px; margin: 10px 0 0 7px; width:56px;} /*movistarligadecampeones4 */
.tvlogo154 {background: url('../images/television-es-56x40.png?004') no-repeat; background-position: 0 -4120px; height:40px; margin: 10px 0 0 7px; width:56px;} /*vamos */
.tvlogo155 {background: url('../images/television-es-56x40.png?004') no-repeat; background-position: 0 -4160px; height:40px; margin: 10px 0 0 7px; width:56px;} /*torostv */
.tvlogo156 {background: url('../images/television-es-56x40.png?004') no-repeat; background-position: 0 -4200px; height:40px; margin: 10px 0 0 7px; width:56px;} /*eurosport1 */
.tvlogo157 {background: url('../images/television-es-56x40.png?004') no-repeat; background-position: 0 -4240px; height:40px; margin: 10px 0 0 7px; width:56px;} /*eurosport2 */
.tvlogo158 {background: url('../images/television-es-56x40.png?004') no-repeat; background-position: 0 -4280px; height:40px; margin: 10px 0 0 7px; width:56px;} /*daznmotogp */
.tvlogo159 {background: url('../images/television-es-56x40.png?004') no-repeat; background-position: 0 -4320px; height:40px; margin: 10px 0 0 7px; width:56px;} /*daznpremiere */
.tvlogo160 {background: url('../images/television-es-56x40.png?004') no-repeat; background-position: 0 -4360px; height:40px; margin: 10px 0 0 7px; width:56px;} /*dazncopadelrey */
.tvlogo161 {background: url('../images/television-es-56x40.png?004') no-repeat; background-position: 0 -4400px; height:40px; margin: 10px 0 0 7px; width:56px;} /*laligasports */
.tvlogo162 {background: url('../images/television-es-56x40.png?004') no-repeat; background-position: 0 -4440px; height:40px; margin: 10px 0 0 7px; width:56px;} /*ubeat */

.tv-button {
	background-color: #e9e9e9;
	color: #111111 !important;
	cursor: pointer;
	display: block;
	float: left;
	font-family: arial,sans-serif;
	font-size: 14px;
	font-weight: bold;
	height: 25px;
	line-height: 30px;
	margin: 0 6px 2px 0;
	padding: 0;
	text-decoration: none !important;
	text-indent: 10px;
	width: 140px;
	}

.button-yesterday {
	width: 50px;
	}

.button-today {
	width: 140px;
	}

.button-tomorrow {
	width: 100px;
	}

.button-yesterday:hover, .button-yesterday-active,
.button-today:hover, .button-today-active,
.button-tomorrow:hover, .button-tomorrow-active {
	background-color: #a3d7ff;
	color: #000000 !important;
	}

.button-yesterday:hover, .button-yesterday-active {
	width: 50px;
	}

.button-today:hover, .button-today-active {
	width: 140px;
	}

.button-tomorrow:hover, .button-tomorrow-active {
	width: 100px;
	}

.button-time {
	height: 20px;
	line-height: 24px;
	margin: 4px 2px 0 0;
	text-indent: 3px;
	width: 45px;
	}

.button-time:hover, .button-time-active {
	background-color: #a3d7ff;
	color: #000000 !important;
	height: 24px;
	line-height: 32px;
	margin: 0 2px 3px 0;
	}

.button-time-active {
	outline: none;
	width: 45px;
	text-indent: 3px;
	}

/* Lazy load opacity fix */
.js .lazyload,
.js .lazyloading {
	opacity: 1;
	}
.js .lazyloaded {
	opacity: 1;
	transition: all 0s ease 0s;
	}